In [1]:
# Created by A Z M Nowzesh Hasan (Data pre-processing)

#Import essential Python libraries for data analysis and visualization
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
# Importing Dataset 

dataset = pd.read_csv('Data.csv')
dataset.head() # Shows first 5 lines of Panda dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [15]:
# Importing features from the dataset 
# Independent variable 
x = dataset.iloc[:, :-1].values # Taking all rows and all columns except the last one 
# Dependent variable 
y = dataset.iloc[:, -1:].values # Takimg final row as outcome/response  

print(f"Independent variables: {x}\n\nDependent variable: {y}")

Independent variables: [['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

Dependent variable: [['No']
 ['Yes']
 ['No']
 ['No']
 ['Yes']
 ['Yes']
 ['No']
 ['Yes']
 ['No']
 ['Yes']]